.filter-table {
  position: relative;

  .table__current {
    background-color: var(--mainPage-background-color);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border: 1px solid var(--form-border-color);
    padding: 5px 10px;
    margin: 9px 0 6px 0;
    width: fit-content;
    cursor: pointer;
  }

  .filter-table__form {
    position: absolute;
    z-index: 100;
    top: 31px;
    right: 3px;
    min-width: 173px;
    background-color: var(--general-background-color);
    color: var(--text-color);
    border-radius: 4px;
    border: 1px solid var(--form-border-color);
    box-shadow: 3px 3px 11px #465a7a1c;
    animation: fade 0.1s ease-in-out;

    .form-title {
      margin: 12px 0 8px;
      padding: 0 16px;
    }
    .form-inputs {
      padding: 0 19px;

      .form-input {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;

        label {
          margin-right: 7px;
        }
      }
    }

    .form-buttons {
      margin-top: 2px;
      display: flex;
      justify-content: space-between;
      background: var(--filter-form-button-background-color);
      padding: 5px 30px;

      button {
        @include reset-button;
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}
