.side-nav__container {
  position: fixed;
  min-height: calc(100vh - 133px);
  z-index: 1000;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  background-color: var(--general-background-color);

  .side-nav__body {
    position: sticky;
    top: 139px;
    width: 253px;
    padding: 0 12px;
    color: var(--text-color);

    .side-nav__title {
      position: relative;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      .side-nav__title__homeSvg {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }

      .side-nav__title__text {
        margin-right: 14px;
      }

      .side-nav__title__arrow-btn {
        position: absolute;
        top: 5px;
        left: 25px;
        font-size: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .side-nav__menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      animation: slideLeft 0.15s linear;

      .side-nav__menu__item {
        margin: 10px 0;
        cursor: pointer;
      }
    }

    .side-nav__more-info-menu {
      border-top: 1px solid #d5e0f4;
      padding: 10px 0;

      .side-nav__more-info-menu__item {
        padding: 10px 0;
        cursor: pointer;
      }
    }
  }
}

.side-nav__mobile__close-btn {
  @media (min-width: 481px) {
    display: none;
  }
}

.current-division {
  font-weight: 700;
  color: #0068f5;
}

// --------------------------------------------------------------------------- //

@media (max-width: 480px) {
  .side-nav__container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;

    .side-nav__mobile__close-btn {
      @include reset-button;
      font-size: 1.7rem;
      position: absolute;
      top: 10px;
      left: 15px;
    }

    .side-nav__body {
      position: static;
      top: 0;
      width: 100%;
      margin-top: 5rem;
      padding: 0 12px;
    }
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
