.control-center__container {
  background-color: var(--mainPage-background-color);
  min-height: calc(100vh - 74px);
  padding: 3rem 2rem;
  border-top: 1px solid var(--form-border-color);

  .admin-control-center__greeting {
    color: var(--text-color);
  }

  .admin-control-center__selection-container {
    display: flex;
    flex-direction: column;

    .admin-control-center__selection-box {
      margin: 1.5rem 0;
      display: flex;
      align-items: flex-start;

      .admin-control-center__selection-box__title,
      .admin-control-center__selection-box__options {
        background: white;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
      }

      .admin-control-center__selection-box__title {
        text-align: center;
        width: 83px;
      }

      .admin-control-center__selection-box__options {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: 200px;
        cursor: pointer;

        .admin-control-center__selection-box__options__item {
          border: 0.5px solid $darkBlueBackground;
          border-radius: 5px;
          background-color: rgb(248, 250, 253);
          padding: 0.2rem 0.5rem;

          &:hover,
          &.active {
            background-color: $darkBlueBackground;
            color: white;
          }
        }
      }
    }
  }

  .admin-control-center__table-greeting {
    margin: 1.5rem 0;
    color: var(--text-color);
    display: inline-block;
  }

  .admin-control-center__action-button {
    background-color: var(--admin-login-form-background-color);
    color: var(--admin-login-form-text-color);
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 32px;
    transform: translateY(20px);
    transition: all 0.05s linear;

    @media (min-width: 500px) {
      left: 0;
      margin-left: 5vw;
    }

    @media (min-width: 1200px) {
      margin-left: 26vw;
    }

    &:hover {
      background-color: #0499c7;
      color: $textBasicColor;
    }

    .admin-control-center__action-button__extra-text {
      display: none;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }

  .row-actions-container {
    @include flex-center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .row-actions-modal {
      position: relative;
      width: 250px;
      padding: 1rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);

      .row-actions-modal__close-btn {
        position: absolute;
        top: 8px;
        left: 10px;
        color: $textBasicColor;
        font-size: 1rem;
        cursor: pointer;
        @include reset-button;
      }

      .row-actions-modal__buttons {
        margin: 1.5rem auto 0.5rem;
        width: 85%;
        display: flex;
        justify-content: space-between;

        button {
          @include reset-button;
          background-color: $darkBlueBackground;
          color: white;
          padding: 0.5rem;
          border-radius: 10px;
          transition: all 0.1s ease-in-out;
          font-weight: 600;

          &:hover {
            background-color: #0499c7;
            color: black;
          }
        }
      }
    }
  }

  .row-action-modal {
    position: fixed;
    z-index: 100;
    top: 75px;
    left: 40px;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
  }
}

.successful-action {
  background-color: green;
}
.bad-action {
  background-color: red;
}

@media (min-width: 500px) {
  .control-center__container {
    .admin-control-center__action-button {
      border-radius: 15px;
      padding: 0.5rem 1rem;

      .admin-control-center__action-button__extra-text {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 768px) {
  .control-center__container {
    .admin-control-center__selection-container {
      flex-direction: row;

      .admin-control-center__selection-box
        .admin-control-center__selection-box__options {
        margin-left: 3rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
