.admin-login-container {
  @include flex-center;
  min-height: calc(100vh - 74px);
  background-color: var(--general-background-color);

  .admin-login__form-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    padding: 2rem 1.5rem 2rem;
    background-color: var(--admin-login-form-background-color);
    color: var(--admin-login-form-text-color);
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);

    .admin-login__form-title {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .admin-login__form-group {
      position: relative;
      margin-bottom: 1.5rem;

      label {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        padding: 0.75rem;
        border-radius: 4px;
        border: none;
        font-size: 1rem;
        background-color: var(--admin-login-form-text-color);

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
        }
      }
    }

    .admin-login__form-button {
      display: block;
      @include reset-button;
      background-color: rgb(30 107 177);
      color: var(--admin-login-form-text-color);
      padding: 0.75rem 0;
      margin: 1.5rem auto 0;
      font-size: 1.2rem;
      border-radius: 10px;
      min-width: 40%;

      &:hover {
        background-color: rgb(129, 168, 212);
      }

      &:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
      }
    }

    .admin-login__form-group__error-message {
      position: absolute;
      right: 8px;
      margin-top: 0.15rem;
      color: rgb(227 120 41);
      font-size: 1rem;
    }
  }
}
