.control-center__container {
  background-color: rgb(248, 250, 253);
  min-height: calc(100vh - 74px);
  padding: 2rem;

  .admin-control-center__seperator-line {
    width: 90%;
    margin: 0.2rem auto;
    height: 1px;
    background-color: $darkBlueBackground;
  }

  .admin-control-center__selection-container {
    display: flex;
    flex-direction: column;

    .admin-control-center__selection-box {
      margin: 1.5rem 0;
      display: flex;
      align-items: flex-start;

      .admin-control-center__selection-box__title,
      .admin-control-center__selection-box__options {
        background: white;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
        cursor: pointer;
      }

      .admin-control-center__selection-box__title {
        text-align: center;
        width: 83px;
      }

      .admin-control-center__selection-box__options {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: 200px;

        .admin-control-center__selection-box__options__item {
          border: 0.5px solid $darkBlueBackground;
          border-radius: 5px;
          background-color: rgb(248, 250, 253);
          padding: 0.2rem 0.5rem;

          &:hover,
          &.active {
            background-color: $darkBlueBackground;
            color: white;
          }
        }
      }
    }
  }

  .admin-control-center__table-greeting {
    margin: 1.5rem 0;
    color: $darkBlueBackground;
    display: inline-block;
  }

  .admin-control-center__action-button {
    background-color: $textBasicColor;
    color: white;
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 32px;
    transform: translateY(20px);
    transition: all 0.05s linear;

    &:hover {
      background-color: #0499c7;
      color: $textBasicColor;
    }

    .admin-control-center__action-button__extra-text {
      display: none;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: 500px) {
  .control-center__container {
    .admin-control-center__action-button {
      border-radius: 15px;
      padding: 0.5rem 1rem;

      .admin-control-center__action-button__extra-text {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 768px) {
  .control-center__container {
    .admin-control-center__selection-container {
      flex-direction: row;

      .admin-control-center__selection-box
        .admin-control-center__selection-box__options {
        margin-left: 3rem;
      }
    }

    .admin-control-center__action-button {
    }
  }
}
